{{extend 'layout.html'}}
<div class="flex">
  {{if not auth.user:}}
  <header id="introduction">
    <h1>Longboxes</h1>
    <p>Create and share collections of your favourite comics {{if auth.user:}}{{pass}}</p>
    <nav id="account">
      <a class="primary-button" href="{{=URL('user', 'login')}}">Log In</a>
      <a class="primary-button" href="{{=URL('user', 'register')}}">Sign Up</a>
    </nav>
  </header>
  {{else:}}
  <header id="action-bar">
    <h2>Longboxes</h2>
    <nav id="links">
      <a href='#'>Comics</a>
      <a href="#">Boxes</a>
      <a href="#">Upload</a>
      <a href="#">Create Box</a>
    </nav>
    <nav id="user">
      <span>{{=auth.user.username.title()}}</span>
      <a class="primary-button" href="{{=URL('user', 'logout')}}">Sign Out</a>
    </nav>
  </header>
  <section id="welcome">
    <h1>Welcome {{=auth.user.first_name.title()}} {{=auth.user.last_name.title()}}</h1>
    <p>Create and share collections of your favourite comics</p>
    <nav id="actions">
      <a class="primary-button" href="{{=URL('user', 'login')}}">Upload Comic</a>
      <a class="primary-button" href="{{=URL('user', 'register')}}">Create Box</a>
    </nav>
  </section>
  {{pass}}
  <section id="boxes">
    <section id="newest">
      <h2>Newest Boxes</h2>
    </section>
    <section id="popular">
      <h2>Popular Boxes</h1>
    </section>
  </section>
</div>
